[Desktop Entry]
Type=Application
Exec=gnome-terminal --working-directory='/home/ubuntu/ionosonde(for 24.04)/src' --command "bash start_rx.sh" 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Ionosonde RX
Name=Ionosonde RX
Comment[en_US]=
Comment=
